<div class="transaction-page">
<h2>Transactions List</h2>

<% @transactions.each do |transaction| %>
<div class="transaction-box">
  <p><a href="/transactions/<%= transaction.id %>">Vendor: <%= transaction.vendor_name %></a></p>
  <p>Satellite: <%= transaction.planet_name %></p>
  <p>Cargo Type: <%= transaction.get_cargo().description %></p>
  <p>Cost(Z): <%= transaction.value %></p>
</div>
  <% end %>

<div class="cargo-type">
  <h4>Total Spent(Z) By Cargo Type:</h4>

<div class="cargo-list"
  <ul>

    <% @cargos.each do |cargo| %>
    <li><%= cargo.description %> - <%= cargo.cargo_total() %></li>
    <% end %>

  </ul>
</div>
</div>
<div class="overall-spent"
  <h4>Overall Total Spent(Z): <%= @total %>

    <% if Transaction.budget_warning %>
    <p>Warning! Exceeded Budget Limit - 2000(Z)!</p>
    <% end %>
</div>
</div>
