<div class="transaction-page">
<h2>Transactions List</h2>

<% @transactions.each do |transaction| %>
<div class="transaction-box">
  <p><a href="/transactions/<%= transaction.id %>">Vendor: <%= transaction.vendor_name %></a></p>
  <p>Satellite: <%= transaction.planet_name %></p>
  <p>Cargo Type: <%= transaction.get_cargo().description %></p>
  <p>Cost(Z): <%= transaction.value %></p>
</div>
  <% end %>

  <h4>Total Spent(Z) By Cargo Type</h4>

  <p>Cargo Type: </p>


  <ul>

    <% @cargos.each do |cargo| %>
    <li><%= cargo.description %> - <%= cargo.cargo_total() %></li>
    <% end %>

  </ul>

  <hr/>
  <h4>Overall Total Spent(Z): <%= @total %>

    <% if Transaction.budget_warning %>
    <p>Warning! Budget Exceeded!</p>
    <% end %>
</div>
