<p>Transactions List</p>
<hr/>

<% @transactions.each do |transaction| %>
    <p><a href="/transactions/<%= transaction.id %>">Vendor: <%= transaction.vendor_name %></a></p>
    <p>Satellite: <%= transaction.planet_name %></p>
    <p>Cargo Type: <%= transaction.get_cargo().description %></p>
    <p>Cost(Z): <%= transaction.value %></p>
    <hr/>
<% end %>

<h4>Total Spent(Z) By Cargo Type</h4>

<p>Cargo Type: </p>


<ul>

    <% @cargos.each do |cargo| %>
          <li><%= cargo.description %> - <%= cargo.cargo_total() %></li>
    <% end %>

</ul>

<hr/>
<h4>Overall Total Spent(Z): <%= @total %>

   <% if Transaction.budget_warning %>
    <p>Warning! Budget Exceeded!</p>
   <% end %>
